@use 'start' as *;
/*!
 * @name #{$themeName} for BetterDiscord
 * @author #{$author}
 * @version #{$version}
 * @description #{$desc} #{$desc_bd}
 * @source #{$src}
 * @website #{$website}
 * @invite #{$invite}
 */

// Import Functions, Variables, Mixins and Class list functionality.
@use 'backend' as *;

// Contains the theme proper.
@use 'betterdiscord-theme';